.footer {
    background-color: #6ac4bb;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #ffd9b7;
  }
  .footer p {
    margin: 0.3rem 0;
  }
  